*{
    box-sizing: border-box;
}
.grid{
    display: grid;
    
    border:1px solid red;
    width: 720px;
    height: 720px;
    
    
}
.grid-item{
    border: 0.1px solid black;
    width: 100%;
    height: 100%;
    /* grid-row: span 1;
  grid-column: span 1; */
    
    /* grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content); */
    /* background-color: blue; */
}
/* .grid-item:hover{
    background-color: black;
} */